.modules .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  padding: 10px 40px;
}

.modules .card img {
  max-width: 100%;
}

.modules .card a {
  color:#333;
}

.modules .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.modules .container {
  padding: 2px 8px;
}
